
#call{
  background: #FFE150;
}


#callWord{
  background-color: #FFE150;

}

.bi-whatsapp{
  background-color: #FFE150;
}


#list{
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 9px;
  word-wrap: break-word;

}

#manage{
  width: 90px;
  height: 25px;
  right: 150px;
  bottom: 60px;
  position: absolute;

}

#asideBtn{
  width: 180px;
  height: 35px;
  left: 80px;
  top: 360px;
  background-color: white;
  position: absolute;
  border: 1px black solid;
  justify-content: center;
  display: flex;
  align-items: center;
}

#btn1{
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

#asideBtn2{
  width: 180px;
  height: 35px;
  left: 80px;
  top: 400px;
  position: absolute;
  background: #FFF8E4;
  border: 1px black solid;
  justify-content: center;
  display: flex;
  align-items: center;
}

#btn2{
  font-size: 20px;
  font-family: Inter;
  background: #FFF8E4;
  font-weight: 500;
  word-wrap: break-word;
}

#notiTitle{
  height: 43px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  width: 100%;
}

#no{
  width: 80px;
  height: 40px;
  background: #FFF8E4;
  position: relative;
  border: 1px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

#no div{
  width: 80px;
  background: #FFF8E4;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3.75px;
  word-wrap: break-word;
}

#notiName{
  flex: 1;
  height: 40px;
  background: #FFF8E4;
  border: 1px white solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

#notiName div{
  flex: 1;
  background: #FFF8E4;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3.75px;
  word-wrap: break-word;
}

#writer{
  width: 120px;
  height: 40px;
  background: #FFF8E4;
  border: 1px white solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

#writer div{
  width: 120px;
  background: #FFF8E4;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3.75px;
  word-wrap: break-word;
}
#registDate{
  width: 120px;
  height: 40px;
  background: #FFF8E4;
  border: 1px white solid;
  justify-content: center;
  align-items: center;
  display: flex;
}

#registDate div{
  width: 120px;
  background: #FFF8E4;
  height: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3.75px;
  word-wrap: break-word;
}

#userWriting{
  width: 90px;
  height: 30px;
  position: absolute;
  bottom: 100px;
  left: 80px;
}

#userWriting a{
  font-size: 20px;
  font-weight: bold;
}

#allPageBtn{
  width: 600px;
  height: 40px;
  left: 20%;
  position: absolute;
  bottom: 60px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#allPageBtn a{
  font-size: 25px;
  text-align: center;
  display: block;
}

#leftBtns{
  position: absolute;
  left: 0;
}

#rightBtns{
  position: absolute;
  right: 0;
}

#research{
  width: 400px;
  position: absolute;
  height: 30px;
  bottom: 0;
  left: 30%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  gap: 20px;
}
#search{
  width: 300px;
  height: 30px;
}
#research button{
  flex: 1;
  height: 30px;
  color: #5F5F5F;
  background-color: #e8e8e8;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 3px;
  word-wrap: break-word;
  border-radius: 5px;
}