

@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: local('DNFBitBitv2'), url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.woff2') format('woff2'),
    url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.woff') format('woff');
}


html {
    scroll-behavior: smooth;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DNFBitBitv2', sans-serif;
    background-color: rgb(255, 255, 255);
}

/*************************************************네비 바******************************************************/
li {
    list-style: none;
}

header .navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0%;
    position: fixed; /* 수정: header를 고정시키기 위해 position 속성 추가 */
    top: 0; /* 수정: header의 상단에 위치하도록 top 속성 추가 */
    z-index: 1;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 100%;
}

header nav ul {
    display: flex;
    align-items: top;
}

header nav ul li {
    padding-left: 10px;
    padding-top: 0;
}

header button {
    background: transparent;
    border: none;
    cursor: pointer;
    background: rgba(199.66, 217.81, 201.51, 0.47);
    width: 230px;
    height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header h1 button {
    font-size: 70px;
    color: rgba(255, 225, 80, 1);
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    text-align: left;
    padding-left: 1rem;
}


.ranking {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background: rgba(199.66, 217.81, 201.51, 0.5);
    overflow: hidden;
}
.calendar {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background: rgba(199.66, 217.81, 201.51, 0.5);
    overflow: hidden;
}
.student-management {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background: rgba(199.66, 217.81, 201.51, 0.5);
    overflow: hidden;
}
.mypage {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background: #003005;
    overflow: hidden;

}
#myPage{
    background: #003005;
}

header nav ul li button a {
    background: rgba(233, 239, 233, 0.5);
}
/*************************************************마이페이지 버튼들******************************************************/
#bar {
    width: 96%;
    height: 80px;
    position: absolute;
    left: 20px;
    right: 20px;
    background: #07621B;
    border: 1px rgba(68.63, 197.54, 205.77, 0) solid;
    margin: 0 auto; /* 수평 가운데 정렬을 위해 추가 */
    z-index: -1;
}

#fiveFrame {
    width: 1000px;
    height: 160px;
    top: 120px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0);
    border: 1px rgba(255, 255, 255, 0) solid;
    gap: 52px;
    display: inline-flex;
    position: absolute;
    left: 50%; /* 부모의 가운데 정렬을 위한 위치 설정 */
    transform: translateX(-50%); /* 자신의 너비의 반만큼 왼쪽으로 이동하여 중앙 정렬 */
    z-index: 1;
}

#studentInfo{
    width: 130px;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px; overflow: hidden;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    display: inline-flex;

}
#studentWord{
    background-color: white;
    width: 130px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 1.25px;
    word-wrap: break-word;
}
#iconTag1{
    width: 50px;
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.bi-info-circle{
    font-size: 50px;
}

#call{
    width: 130px;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px; overflow: hidden;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

#iconTag2{
    width: 50px;
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

#callWord{
    width: 130px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 1.25px;
    word-wrap: break-word;
}

.bi-whatsapp{
    font-size: 50px;
}

#restart{
    width: 130px;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    overflow: hidden;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

#iconTag3{
    width: 50px;
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

#restartWord{
    width: 130px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 1.25px;
    word-wrap: break-word;
}

.bi-arrow-clockwise{
    font-size: 50px;
}

#logout{
    width: 130px;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    overflow: hidden;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

#iconTag4{
    width: 50px;
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
#logoutWord{
    width: 130px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 1.25px;
    word-wrap: break-word;
}
.bi-box-arrow-right{
    font-size: 50px;
}

#destroy{
    width: 130px;
    align-self: stretch;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    overflow: hidden;
    border: 1px white solid;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    display: inline-flex;
}

#iconTag5{
    width: 50px;
    height: 50px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

#destroyWord{
    width: 130px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: Inter;
    font-weight: 500;
    letter-spacing: 1.25px;
    word-wrap: break-word;
}

.bi-slash-circle{
    font-size: 50px;
}

#article {
    width: 1000px;
    height: 600px;
    top: 330px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0);
    border: 1px rgba(255, 255, 255, 0) solid;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    display: inline-flex;
    position: absolute;
    left: 50%; /* 부모의 가운데 정렬을 위한 위치 설정 */
    transform: translateX(-50%); /* 자신의 너비의 반만큼 왼쪽으로 이동하여 중앙 정렬 */
}



#footers{
    width: 800px;
    height: 50px;
    bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0);
    border: 1px rgba(255, 255, 255, 0) solid;
    display: inline-flex;
    position: absolute;
    left: 50%; /* 부모의 가운데 정렬을 위한 위치 설정 */
    transform: translateX(-50%); /* 자신의 너비의 반만큼 왼쪽으로 이동하여 중앙 정렬 */
}



#email {
    color: #A3A3A3;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    position: absolute; /* 상대 위치 설정을 위해 absolute 사용 */
    top: 0;
    left: 50%; /* 부모의 가운데 정렬을 위한 위치 설정 */
    transform: translateX(-50%); /* 자신의 너비의 반만큼 왼쪽으로 이동하여 중앙 정렬 */
}

#bell{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

#footerTitle {
    color: #FFE150;
    font-size: 20px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
    position: absolute; /* 상대 위치 설정을 위해 absolute 사용 */
    top: 0;
    left: 30px;
}

#number{
    color: #A3A3A3;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    position: absolute;
    top: 0;
    right: 0;
}

#footerFinal{
    bottom: 0;
    left: 22%;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 80%; /* 부모의 100%를 차지하도록 설정 */

}

footer div div{
    color: #A39E9E;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;

}

#jejuH{
    color: #A39E9E;
    font-size: 20px;
    font-family: 제주한라산;
    font-weight: 400;
    word-wrap: break-word;
}

/**********************************팝업******************************/

