<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main.css">
    <script>
        function popupInPopup(){
            var url = "popupInPopup1.html";
            var name = "등록";
            var option = "width = 200, height = 200, top = 400px, left = 600px, location = no"
            window.open(url, name, option);
        }
    </script>
</head>
<body id="body1">
    <header id="title1">학생 관리</header>
    <section>

    </section>
    <footer id="select">
      <button onclick="popupInPopup()">등록</button>
      <button>수정</button>
      <button>삭제</button>
    </footer>
</body>
</html>