#page-buttons-container {
    margin-top: 20px;
}

.page-button {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.page-button:hover {
    background-color: #f0f0f0;
}
